@{
    ViewData["Role"] = @ViewBag.sessionRole;
    ViewData["NIK"] = @ViewBag.sessionNik;

    ViewData["ManagerNik"] = @ViewBag.sessionManagerNik;
    var datausers = ViewBag.data;

    var datarole = ViewBag.allrole;
    var datanow = ViewBag.usernow;
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    }
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                @*<h3 class="page-title text-truncate text-dark font-weight-medium mb-1"></h3>*@
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:void(0)">Forms History</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:void(0)">Form All</a>
                            </li>
                            @*<li class="breadcrumb-item active">
                                    <a href="javascript:void(0)"></a>
                                </li>*@
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Start Top Leader Table -->
        <!-- *************************************************************** -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title font-weight-mediu">Table Employee</h4>
                            <div class="ml-auto">
                                <div class="dropdown sub-dropdown">
                                    <button class="btn btn-link text-muted dropdown-toggle" type="button"
                                            id="dd1" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i data-feather="more-vertical"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-2 pb-3">


                        </div>

                        <div class="table-responsive mt-2">
                            <table id="tableEmployee" class="table no-wrap v-middle mb-0">
                                <thead>
                                    <tr class="border-0">
                                        <th class="border-0 font-14 font-weight-medium">
                                            No
                                        </th>
                                        <th class="border-0 font-14 font-weight-medium ">Name</th>
                                        <th class="border-0 font-14 font-weight-medium ">
                                            Nik
                                        </th>
                                        <th class="border-0 font-14 font-weight-medium ">Gender</th>

                                        <th class="border-0 font-14 font-weight-medium ">Email</th>
                                        <th class="border-0 font-14 font-weight-medium ">Birthdate</th>
                                        <th class="border-0 font-14 font-weight-medium ">Manager</th>

                                        <th class="border-0 font-14 font-weight-medium text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyEmployee">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*--detail--*@

    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg rounded-pill" role="document">
            <div class="modal-content rounded">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">View Table Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form method="post">
                    <div class="modal-body m-1">
                        <div class="form-row m-2">
                            <div class="form-group col-md-3">
                                <label>NIK</label>
                                <input class="form-control rounded-pill" readonly id="nik">
                            </div>

                            <div class="form-group col-md-3">
                                <label> Name</label>
                                <input class="form-control rounded-pill" readonly id="fullname">
                            </div>

                            <div class="form-group col-md-3">
                                <label> Roles</label>
                                <select class="form-control rounded-pill" id="roles">
                                    <option selected value="" disabled></option>
                                    @foreach (var role in datarole)
                                    {
                                        if (role.RoleName == ViewData["Role"])
                                        {
 
                                            <option value="@role.RoleId">@role.RoleName</option>
                                        }
                                        else
                                        {
                                            <option value="@role.RoleId">@role.RoleName</option>
                                        }
                                    }
                                </select>
                                @*<select class="form-control rounded-pill" id="roles">
                                    <option value="1">Employee</option>
                                    <option value="2">Manager</option>
                                    <option value="3">Finance</option>
                                    <option value="4">Admin</option>

                                </select>*@
                            </div>

                            <div class="form-group col-md-3">
                                <label>Manager</label>
                                <select class="form-control rounded-pill" autocomplete="off" id="managernik">
                                    <option selected value="" disabled></option>
                                    @foreach (var person in datausers)
                                    {
                                        if (person.ManagerNik == datanow.ManagerNik)
                                        {
                                        <option selected  value="@person.Nik">@person.FirstName</option>

                                        }
                                        else
                                        {
                                            <option value="@person.Nik">@person.FirstName</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group col-md-3">
                            <label>NIK</label>
                            <input class="form-control rounded-pill" id="nik">-->
                        @*<input class="form-control rounded-pill" hidden id="reqId">*@

                        <!--<div class="form-row m-2 text-center">
                                <label> First Name</label>
                                <input class="form-control rounded-pill" id="first">
                            </div>

                            <div class="form-row m-2 text-center">
                                <label> Birthdate</label>
                                <input class="form-control rounded-pill" id="birthdate">
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Email</label>
                            <input class="form-control rounded-pill" id="email">
                            <div class="form-row m-2  text-center">
                                <label>  Last Name</label>
                                <input class="form-control rounded-pill" id="last">
                            </div>

                            <div class="form-row m-2 text-center">
                                <label>Manager</label>
                                <input class="form-control rounded-pill" id="managernik">

                            </div>

                        </div>-->
                        @*<div class="form-group col-md-6">
                                <label>Adress</label>
                                <textarea class="form-control" id="address" rows="8"></textarea>
                            </div>*@
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Close</button>
                    <button type="button" id="submit" name="submit" class="btn btn-success rounded-pill" onclick="updatemnik()">Submit</button>

                </div>

            </div>
        </div>


        @*--table view---*@
        <input type="text" class="form-control" hidden id="nik2" value="@ViewData["NIK"]">
        <input type="text" class="form-control" hidden id="first" value="@ViewBag.sessionNameFirst">
        <input type="text" class="form-control" hidden id="last" value="@ViewBag.sessionNameLast">
        <input type="text" class="form-control" hidden id="mnik" value="@ViewData["ManagerNik"]">

        @*<table id="viewEmployee" class="table no-wrap v-middle mb-0">
                <thead>
                    <tr class="border-0">
                        <th class="border-0 font-14 font-weight-medium text-center ">Request Amount</th>
                        <th class="border-0 font-14 font-weight-medium text-center">Category</th>
                        <th class="border-0 font-14 font-weight-medium text-center ">File</th>
                        <th class="border-0 font-14 font-weight-medium text-center ">Paid Amount</th>
                    </tr>
                </thead>
                <tbody id="bodyEmployee">
                </tbody>

            </table>*@


        @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Close</button>

            </div>*@

    </div>
   


    @*--insert --*@
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg rounded-pill" role="document">
            <div class="modal-content rounded">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Request Reimbursements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post">
                        <input type="text" class="form-control" hidden id="nik2" value="@ViewData["NIK"]">

                        <table class="table no-wrap v-middle mb-0" id="dynamic_field">
                            <tr class="border-0">
                                @*<th class="border-0 font-14 font-weight-medium text-center ">No</th>*@
                                <th class="border-0 font-14 font-weight-medium text-center ">Request Amount</th>
                                <th class="border-0 font-14 font-weight-medium text-center">Category</th>
                                <th class="border-0 font-14 font-weight-medium text-center ">Upload File</th>
                            </tr>
                            <tr>

                                @*<td>1</td>*@
                                <td><input type="text" id="requestAmount" name="loop[]req" placeholder="Request Amount" class="form-control rounded-pill " /></td>
                                <td>
                                    <select class="form-control rounded-pill" id="category" name="loop[]type">
                                        <option value="1">Medical</option>
                                        <option value="2">Transportation</option>
                                    </select>
                                    @* <input type="text" name="category[]" placeholder="Choose Category" class="form-control rounded-pill category_email" />*@
                                </td>
                                <td><input type="file" name="loop[]file" id="upload" placeholder="Upload File" class="form-control-file" /></td>
                                <td><button type="button" id="add" class="btn btn-success rounded-pill">Add More</button></td>
                            </tr>
                        </table>
                        <div class="form-group col-md-12">
                            <label>Notes</label>
                            <textarea class="form-control border-2 rounded" id="notes" rows="3" placeholder="Text Here.."></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Close</button>
                            <button type="submit" id="submit" name="submit" class="btn btn-primary rounded-pill">Submit</button>

                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>




    @section scripts{
        <script src="~/js/TbEmployee.js" asp-append-version="true"></script>

    }
