@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Role"] = @ViewBag.sessionRole;
    ViewData["NIK"] = @ViewBag.sessionNik;

    ViewData["ManagerNik"] = @ViewBag.sessionManagerNik;
    var datanow = ViewBag.data;
    var email = datanow.Email;

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="container bootstrap">

    <div class="row">
 
        <div class="col-sm-12">

            <div class="tab-content">
                <form class="form" action="javascript:savechange()" method="post" id="registrationForm">
                    <div class="tab-pane active" id="home">
                        <hr>

                        <div class="row">
                            <div class="form-group col-sm-3">

                            </div>
                            <div class="form-group col-sm-3">
                                <label for="passwordori">Masukan Password anda </label>

                            </div>
                            <div class="form-group col-sm-4">

                                <input type="text" class="form-control rounded-pill" name="passwordori" id="passwordori">
                                <input type="text" class="form-control" name="email" id="email" value="@email" hidden>
                            </div>
                            <div class="form-group col-sm-2">

                            </div>

                            <div class="form-group col-sm-3">

                            </div>
                            <div class="form-group col-sm-3">
                                <label for="newpassword"> Password Baru </label>

                            </div>
                            <div class="form-group col-sm-4">

                                @*<input type="text" class="form-control" name="newpassword" id="newpassword">*@
                                <input class="form-control rounded-pill" id="newpassword" name="newpassword" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.newpasswordverify.pattern = this.value;" placeholder="New Password" required>
                            </div>
                            <div class="form-group col-sm-2">

                            </div>



                            <div class="form-group col-sm-3">

                            </div>
                            <div class="form-group col-sm-3">
                                <label for="neewpasswordverify"> Verify Password </label>

                            </div>
                            <div class="form-group col-sm-4">

                              
                                <input class="form-control rounded-pill" id="newpasswordverify" name="newpasswordverify" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? '' : '');" placeholder="Verify Password" required>
                            </div>
                            <div class="form-group col-sm-2">
                                <span id="message"></span>
                            </div>

                           
                           

                        </div>
                        
                        @*<div class="row">
                <div class="form-group col-sm-12">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" name="password" id="password" value="@datanow.Password">
                </div>
            </div>*@
                       
                        <div class="row">

                        </div>


                        <hr>

                    </div><!--/tab-pane-->
                    <div class="row">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3"><button type="submit" class="btn btn-success rounded-pill" >Save Change</button></div>
                    </div>


                </form>

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

@section scripts{
    <script src="~/js/UpdatePassword.js" asp-append-version="true"></script>

}