@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Role"] = @ViewBag.sessionRole;
    ViewData["NIK"] = @ViewBag.sessionNik;

    ViewData["ManagerNik"] = @ViewBag.sessionManagerNik;
    var datanow = ViewBag.data;
    var tgl = String.Format("{0:MM/dd/yyyy}", datanow.BirthDate);

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="container bootstrap">

    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-left">
                <img src="/Files/Profile/@datanow.Image" class="avatar img-circle img-thumbnail rounded-circle" style="width: 200px; height: 200px" alt="avatar">
                @*<h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block file-upload">*@
                <button type="button" class="btn btn-primary btn-lg btn-block rounded-pill"onclick="changelocation()">Change Profile</button>
               
                <button type="button" class="btn btn-primary btn-lg btn-block rounded-pill"onclick="updatepassword()">Change Password</button>
            </div><br>


        </div><!--/col-3-->
        <div class="col-sm-9">

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="row">


                            <div class="form-group col-sm-6">
                                <label for="firstName"> First name </label>
                                <input type="text" class="form-control rounded-pill" name="firstName" id="firstName" value="@datanow.FirstName" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lastName"> Last name </label>
                                <input type="text" class="form-control rounded-pill" name="lastName" id="lastName" value="@datanow.LastName" readonly>
                            </div>


                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="gender"> Gender </label>
                                <input type="text" class="form-control rounded-pill" name="gender" id="gender" value="@datanow.Gender" readonly>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="birthDate"> BirthDate </label>
                                <input type="datetime" class="form-control rounded-pill" name="birthDate" id="birthDate" value="@datanow.BirthDate" hidden>
                                <input type="datetime" class="form-control rounded-pill" name="birthDate" id="birthDate" value="@tgl" readonly>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="email"> Email </label>
                                <input type="email" class="form-control rounded-pill" name="email" id="email" value="@datanow.Email" readonly>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="role"> Role </label>
                                <input type="text" class="form-control rounded-pill" name="role" id="role" value="@ViewData["Role"]" readonly>
                            </div>

                        </div>
                        @*<div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="password"> Password </label>
                                    <input type="password" class="form-control" name="password" id="password" value="@datanow.Password">
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="address"> Address </label>
                                <input class="form-control rounded-pill" name="address" id="address" value="@datanow.Address" readonly>
                            </div>
                        </div>
                        <div class="row">

                        </div>


                    </form>

                    <hr>

                </div><!--/tab-pane-->


            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

@section scripts{
    <script src="~/js/ViewProfile.js" asp-append-version="true"></script>

}